#content-wrap {
	margin-top: 70px;
}

.sub-section {
	display: none;
}

.sub-section[class~=active] {
	display: block;
}

.main-content {
	display: none;
}

.main-content[class~=active] {
	display: block;
}

/*测试 start*/
#pic-wall{
	background-color: red;
	height: 300px;
}

#books{
	background-color: orange;
	height: 300px;
}

#movies{
	background-color: purple;
	height: 300px;
}

#notes{
	background-color: yellow;
	height: 300px;
}

#safebox{
	background-color: green;
	height: 300px;
}

#location{
	background-color: blue;
	height: 300px;
}

#epiceditor {
	height: 200px;
}